<!-- Search Section -->
<div id="contact" class="text-center">
      <div class="container">
        <div class="section-title text-center">
          <h3>Search your book</h3>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <form action="{% url 'search_result' %}" method="get">
                    <input name="user_search" type="text" placeholder="Search...">
                </form>
            </div>
        </div>
      </div>
    </div>

